:root{
  --color-heading: #1b0a70;
  --color-paragraph:#1c1930;
  --color-accent: #ccc;
  --font-heading:'Poppins', sans-serif;
  --font-paragraph:'Open Sans', sans-serif;
  --scrollbarBG: #E9F2F0;
  --thumbBG: #A2C5F2;}
html{ scroll-behavior: smooth;}
/* Scrollbar */
/* Scrollbar */
body::-webkit-scrollbar {width: 16px;}
body{scrollbar-width: thin; scrollbar-color: var(--thumbBG) var(--scrollbarBG);}
body::-webkit-scrollbar-track {background: var(--scrollbarBG);}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 8px;
  border: 4px solid var(--scrollbarBG);}
::-webkit-scrollbar-thumb:hover {background: #A2C5F2;}
/* Scrollbar */
body{
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  overflow-x: hi
}
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.5fr 0.5fr;;
  grid-template-rows: 180px 1fr 0.8fr 1fr 0.8fr 0.8fr 200px;
  gap: 0px 0px;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
    ". . about-me about-me about-me ."
    ". skills skills skills . ."
    ". . more-about-me more-about-me more-about-me ."
    ". . work-together work-together . ."
    ". . free-to-contact free-to-contact . ."
    "footer footer footer footer footer footer";
  background-image: url(images/06.-Wisteria_1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
.nav-bar { grid-area: nav-bar; }
ul{
  display: flex;
  justify-content: flex-end;
  margin: 7% 18%;
  list-style-type: none;}
a{
  text-decoration: none;
  padding: 0 2vw;
  font-family: var(--font-heading);
  font-size: 1.3vw;
  font-weight: 700;
  color: var(--color-paragraph);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;}
.about-me p a {
  color: var(--color-heading);}
.about-me { 
  grid-area: about-me;      
  display: flex;
  flex-direction: column;
  justify-content: center;}
.about-me h1,
.skills h2,
.more-about-me h2{
  font-family: var(--font-heading);
  color: var(--color-heading);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-size: 3vw;
  font-weight: 700;}
.about-me p,
.more-about-me p{
  font-family: var(--font-paragraph);
  color: var(--font-paragraph);
  font-size: 1.1vw;
  line-height: 130%;
  font-weight: 400;
  width: 82%;}
.skills { 
  grid-area: skills;    
  display: flex;
  flex-direction: column;
  justify-content: center; }
.skills p{
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-size: 1.5vw;
  font-weight: 700;}
.more-about-me { grid-area: more-about-me;
  display: flex;
  flex-direction: column;
  justify-content: center; }      
.work-together { grid-area: work-together; align-self: center; text-align: center; display: flex; flex-direction: row; justify-content: flex-start}
.work-together p{
  font-family:var(--font-heading);
  color: var(--color-heading);
  font-size: 4vw;
  font-weight: 800;
  line-height: 90%;}       
.work-together .star{ width: 6vw; height: auto;}          
.work-together .star img{
  width: 100%;
  height: auto;
  animation-name: spin;
  animation-duration: 9000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  transform: rotate(3deg); 
  transform: rotate(0.3rad);
  transform: rotate(3grad);  
  transform: rotate(.03turn);}
  @keyframes spin {
    from{
      transform:rotate(0deg);
    }
    to{
      transform:rotate(360deg);}}
.free-to-contact { grid-area: free-to-contact; align-self: center; text-align: center;}
.free-to-contact p{
  font-family: var(--font-paragraph);
  font-size: 2vw;
  font-weight: 300;
  color: var(--color-paragraph);}
.footer { grid-area: footer; 
  display: flex;
  align-items: center;
  margin: 0 5vw;
  border-top: 1px solid var(--color-paragraph);}
.footer h6{
  font-family:var(--font-heading);
  color: var(--color-heading);
  font-size:3vw;
  margin: 4% 3%;
  line-height: 110%; }
.footer #contact{
  display: flex;
  margin-left: auto;}
/* Reveal on scroll */
.reveal{
  position: relative;
  transform: translateY(97px);
  opacity: 0;
  transition: all 2s ease-out;}
.reveal.active{transform: translateX(0px); opacity: 1;}
.revealXleft{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 1s ease-out;}
.revealXleft.active{transform: translateX(0px); opacity: 1;}
.revealXright{
  position: relative;
  transform: translateX(120px);
  opacity: 0;
  transition: all 1s ease-out;}
.revealXright.active{ transform: translateX(0px); opacity: 1;}
/* reveal who am i */
@keyframes revealRightAbout {
  0% { transform: translateX(100%); opacity: 0;}
  100% { transform: translateX(0%); opacity: 1;}}
.about-me{animation: 3.8s ease-out 0s 1 revealRightAbout;}
/* nav-bar-reveal */
@keyframes slideNavTop {
  0% { transform: translateY(-100%) }
  100% { transform: translateY(0%) }}
.nav-bar{ animation: 1.8s ease-out 0s 1 slideNavTop;}

@media only screen and (max-width:961px){
  .grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 180px 1.2fr 1fr 1.2fr 0.8fr 0.8fr 180px;
    gap: 0px 0px;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". . about-me about-me about-me ."
      ". skills skills skills skills ."
      ". . more-about-me more-about-me more-about-me ."
      ". . work-together work-together . ."
      ". . free-to-contact free-to-contact . ."
      "footer footer footer footer footer footer";
    background-image: url(images/06.-Wisteria_1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;}
  a{font-size: 2vw;font-weight: 600;}
  .about-me h1,
  .skills h2,
  .more-about-me h2{font-size: 6vw;}
  .about-me p,
  .more-about-me p{font-size: 2.2vw; width: 100%;}
  .skills p{font-size: 3vw;}
  .footer{display: flex;align-items: center;padding-bottom: 3%;}
  .footer #contact p{margin-top: 0;}
  #mail, #insta, #faceb{margin-bottom: 0;}}

@media only screen and (max-width:662px){
  .grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 117px 1.2fr 1fr 1.2fr 0.6fr 0.6fr 123px;
    gap: 0px 0px;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". . about-me about-me about-me ."
      ". skills skills skills skills ."
      ". . more-about-me more-about-me more-about-me ."
      ". . work-together work-together . ."
      ". . free-to-contact free-to-contact . ."
      "footer footer footer footer footer footer";
    background-image: url(images/06.-Wisteria_1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
  a{ font-size: 2.5vw; font-weight: 500;}
  .about-me p,
  .more-about-me p{ font-size: 2.8vw;}
  .work-together p{ font-size: 5vw;}
  .footer h6,
  .footer p{ font-size: 4vw; margin: 0;}
  .footer{ display: flex; align-items: center; padding-bottom: 2%;}
  .free-to-contact p{ font-size: 2.3vh;}
  .reveal{ transform: translateY(10px);}}

@media only screen and (max-width:512px){
  .grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 119px 1.2fr 1fr 1.2fr 0.6fr 0.6fr 80px;
    gap: 0px 0px;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". about-me about-me about-me about-me ."
      ". skills skills skills skills ."
      ". more-about-me more-about-me more-about-me more-about-me ."
      ". work-together work-together work-together work-together ."
      ". . free-to-contact free-to-contact . ."
      "footer footer footer footer footer footer";
    background-image: url(images/06.-Wisteria_1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;}
 .work-together{justify-content: center;}
 .work-together p{font-size: 8vw;}}
